
$clr-green:         #219837;
$clr-green-2:       #16832a;
$clr-green-3:       #0f7222;
$clr-green-4:       #c5dac7;

$clr-gray:          #6d756e;

$clr-gray-2:        #333333;
$clr-gray-3:        #282828;

$clr-gray-4:        #cccccc;
$clr-gray-5:        #e7e7e7;
$clr-gray-6:        #666666;

$clr-red:           #b73232;
$clr-blue:          #4477b1;

$clr-blue-2:        #1955a0;
$clr-purple:        #9d578f;
$clr-brown:         #b16f35;
