
* {
    outline: none;
}

.cright {
    clear: right;
}

.cleft {
    clear: left;
}

h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0 0 15px 0;
    line-height: 120%;
}

h1 {
    font-size: 4rem;
}

.btn {
    background: $brand-red;
    color: #ffffff;
    transition: all 0.25s;
    border-radius: 6px;
    font-size: 1.6rem;

    &:hover {
        background: $brand-pink;
        color: #ffffff;
    }

    &:focus,
    &:active {
        background: $brand-red;
        color: #ffffff;
        outline: none;
    }
}

a {
    color: $clr-green;
    @include transition-background();
    &:hover {
        color: $clr-green-3;
    }
}

// .section {
//     border-bottom: 10px solid #ffffff;
//     &.background {
//         background: url("../images/background.png") top center repeat-y #e7e7e7;
//     }

//     &.top-section {
//         background: url("../images/background.png") center 130px no-repeat #ffffff;
//     }

//     &:nth-last-child(1){
//         border-bottom: none;
//     }
// }

// .inter-row-border {
//     float: left;
//     width: 100%;
//     padding: 0 20px;

//     &.padded-row-border {
//         margin-top: 30px;
//     }

//     hr {
//         border-top: none;
//         border-bottom: 1px dotted $clr-gray-4;
//         margin: 0 0 15px 0;
//         padding: 0;

//     }

// //    @media (max-width: $breakpoint2){
// //        //display: none;
// //        padding: 0;
// //        margin-top: -20px;
// //    }

//     @media (max-width: $breakpoint1){
//         padding: 0 10px;
//     }
// }

// .row {
//     margin-right: 0;
//     margin-left: 0;

//     @media (max-width: $breakpoint1){
//         margin-right: -10px;
//         margin-left: -10px;
//     }

//     &.top-row {
//         position: relative;
//         height: 130px;
//         padding-top: 10px;
//         box-sizing: border-box;

//         @media (max-width: $breakpoint1){
//             padding-top: 10px;
//             height: 125px;
//         }
//     }
// }

// .row > [class*='col-'] {
//     padding-right:10px;
//     padding-left:10px;
// }

// .pod {
//     background: #ffffff;
//     width: 998px;
//     margin: 0 auto;
//     overflow: hidden;

//     @media (max-width: 1016px){
//         width: 100%;
//     }
// }

// .display-none {
//     display: none;
// }

// .highlight {
//     color: $clr-green;
// }

// h2 {
//     font-family: $headerFont;
//     color: $clr-green;
//     margin: 0;
//     padding: 0 0 15px 0;
//     font-size: 3.8rem;
//     line-height: 130%;
//     text-transform: uppercase;

//     @media (max-width: $breakpoint1){
//         font-size: 2.6rem;
//     }

//     span {
//         color: $clr-gray-3;
//     }

//     &.reverse {
//         color: $clr-gray-3;
//         span {
//             color: $clr-green;
//         }
//     }
// }

// h3 {
//     font-family: $bodyFont;
//     margin: 0;
//     padding: 0 0 10px 0;
//     font-size: 2.0rem;
// }

// h4 {
//     font-family: $bodyFont;
//     margin: 0;
//     padding: 0 0 10px 0;
//     font-size: 1.5rem;
// }

// p {
//     margin: 0;
//     padding: 0 0 10px 0;
//     line-height: 130%;
// }

// img {
//     display: block;
// }

// .copy {
//     padding: 10px;
//     position: relative;

//     &.short-header {
//         h2 {
//             padding-bottom: 0;
//         }
//     }

//     h2 {
//         &.underline {
//             margin: 0 0 10px 0;
//             border-bottom: 1px dotted $clr-gray-4;

//             a {
//                 cursor: default;
//                 display: block;

//                 i {
//                     display: none;
//                     float: right;
//                     font-size: 3.0rem;
//                 }

//                 &:hover {
//                     text-decoration: none;
//                 }

//             }

//             @media (max-width: $breakpoint2){
//                 background: $clr-green;
//                 padding: 7px 10px 5px 10px;
//                 margin: 0 0 10px 0;
//                 border-bottom: none;

//                 a {
//                     color: #ffffff;

//                     i {
//                         color: #ffffff;
//                         display: block;
//                     }

//                 }
//             }
//         }
//     }

//     &.no-top-padding {
//         @media (max-width: $breakpoint1){
//             padding-top: 0;
//         }
//     }
// }

// .copy-screen-wide {
//     @media (max-width: $breakpoint1){
//         display: none;
//     }
// }

// .copy-screen-narrow {
//     @media (min-width: $breakpoint1 + 1){
//         display: none;
//     }
// }

// .copy-screen-very-narrow {
//     @media (min-width: $breakpoint3){
//         display: none;
//     }
// }

// .copy-screen-not-very-narrow {
//     @media (max-width: $breakpoint3 + 1){
//         display: none;
//     }
// }

// .more {
//     text-transform: capitalize;
// }

// .logo-golf {
//     width: 151px;
//     @media (max-width: $breakpoint1){
//         width: 105px;
//     }
// }

// .logo-bistro {
//     width: 178px;
//     @media (max-width: $breakpoint1){
//         width: 155px;
//     }
// }

// .logo-studio {
//     width: 184px;
//     @media (max-width: $breakpoint1){
//         width: 141px;
//     }
// }

// .col-xs-6 {
//     @media (max-width: $breakpoint3){
//         width: 100%;
//     }
// }