
$breakpoint0:       1024px;
$breakpoint1:        960px;
$breakpoint2:        768px;
$breakpoint3:        480px;

$brand-pink:        #ef2463;
$brand-red:         #902d3f;
$brand-black:       #282828;
$brand-dark:        #333333;

@import "colours";
@import "mixins";
@import "fonts";
// @import "forms";
// @import "tables";
@import "furniture";

.display-none {
    display: none;
}

.devices-wide {
    display: none;
}

@media (min-width: $breakpoint2){
    .devices-wide {
        display: block;
    }

    .devices-narrow {
        display: none;
    }
}

body {
    background: #ffffff;
    color: $clr-gray-2;
    font-size: 16px;
}

.social-media {
    list-style: none;
    margin: 0;
    padding: 5px 0 0 0;
    width: 100%;
    text-align: right;

    li {
        display: inline;
        margin: 0;
        padding: 0 5px;

        &:nth-last-child(1){
            padding-right: 0;
            a {
                padding-right: 0;
            }
        }
    }

    a {
        display: inline-block;
        padding: 3px;
        color: $brand-pink;
    }
}

.main-navigation {

    text-align: right;    
    position: relative;
    height: 100px;

    > a {
        position: absolute;
        top: -15px;
        left: 0;
        display: block;

        img {
            display: block;
            width: 102px;
        }
    }

    .devices-wide,
    .devices-narrow {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    ul {

        list-style: none;
        margin: 0;
        width: 100%;
        text-align: right;

        li {
            display: inline;
            margin: 0;
            padding: 0 5px;

            &:nth-last-child(1){
                padding-right: 0;
                a {
                    padding-right: 0;
                }
            }
        }

        a {
            display: inline-block;
            padding: 15px 7px;
            color: $brand-red;
            font-weight: bold;
            font-size: 16px;

            &:hover {
                text-decoration: none;
                color: $brand-pink;
            }
        }
    }

    .mobile-navigation-trigger {
        font-size: 3rem;
    }
}

.hero-carousel {
    height: 360px;
    background: mediumvioletred;
}

.secondary-carousel {
    padding: 15px 0;

    .slide {
        padding: 10px 80px;
        text-align: center;
        position: relative;

        @media (max-width: $breakpoint2){
            padding: 10px 40px;
        }
    }

    .owl-prev,
    .owl-next {
        transition: all 0.25s;
        position: absolute;
        width: 40px;
        height: 40px;
        background: $brand-red !important;
        display: block;
        border-radius: 50%;
        top: 50%;
        margin-top: -20px;
        left: 0;

        &:hover {
            background: $brand-pink !important;
        }
    }
    
    .owl-next {
        right: 0;
        left: auto;
    }
}

.hero {
    width: 100%;
    display: block;
}

.pod {
    min-height: 290px;
    background: #4978cf;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    -webkit-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.09);
    -moz-box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.09);
    box-shadow: 0px 2px 15px 2px rgba(0,0,0,0.09);

    @media (min-width: $breakpoint2){
        margin-bottom: 30px;
    }
}

.footer {
    height: 225px;
    position: relative;
    border-bottom: 10px solid $brand-pink;
    background: $brand-red;

    ul {
        list-style: none;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 0 10px 0;
    

        li {
            display: inline;

            a {
                display: inline-block;
                color: #ffffff;
                font-size: 1.5rem;
                padding: 10px 12px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .tel-link {
        color: #ffffff;

        &:hover {
            text-decoration: none;
        }
    }

    p {
        color: #ffffff;
        font-size: 1.5rem;
        text-align: center;
    }

    @media (min-width: $breakpoint2){

        border-bottom: 20px solid #dddddd;

        ul {
            padding: 0;
            justify-content: flex-start;
    
            li {
                display: inline;
                padding: 0 10px 15px 0;
    
                &:first-child{
                    a {
                        padding-left: 0;
                    }
                }
            }
        }
        
        background: url("/images/bg-footer.png") top right no-repeat $brand-red;

        p {
            text-align: left;
        }
    }
}

.skirt {
    position: absolute;
    width: 255px;
    height: 150px;
    background: url("/images/bg-footer-fruit.png") 0 0 no-repeat;
    background-size: cover;
    bottom: -15px;
    left: 50%;
    margin-left: -126px;
    margin-bottom: 5px solid #ffffff;
    display: none;

    @media (min-width: $breakpoint2){
        display: block;
    }
}








// mobile navigation
#menu {
    background: #ffffff;
    text-transform: uppercase;

    a {
        color: $brand-black;
        font-size: 1.5rem;
        padding: 15px 40px;
    }
}




